/* Apply styles to the html, head, and body elements */
html, head, body {
    /* Remove default margin */
    margin: 0;
    /* Add padding around the elements */
    padding: 25px;
    /* Set background color to a dark gray */
    background-color: #2a2a2a;
}

/* Apply styles to the element with id 'mainCanvas' */
#canvas {
    /* Set the width of the canvas */
    width: 600px;
    /* Set the height of the canvas */
    height: 500px;
    /* Set the background color of the canvas */
    background-color: #da6052;
    /* Ensure the image appearsd normal in when rendered certain conditions */
    image-rendering: crisp-edges;
}